$theme-name: "Fluent In Guts";
$theme-author: "EvilNick2";
$theme-version: "1.0.0";
$theme-description: "Fluent theme for Discord by TakosThings, modified by EvilNick";
$theme-source: "https://github.com/EvilNick2/Fluent-Discord";

$fluent-accent-hue-sat: 0, 100%;
$fluent-accent-lightness: 25%;
$fluent-text-on-accent-color: 0, 0, 0;
$fluent-acrylic-background: url(https://evilnick2.github.io/Fluent-Discord/img/guts.png);
$fluent-acrylic-background-blur: 0px;
$fluent-acrylic-background-dimness: 25%;
$fluent-acrylic-background-saturate: 140%;
$fluent-show-nitro-decorations: none;
$fluent-show-activity-status: flex;
